@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--Navbar--*/

.navbar-nav, .navbar-title, .nav-item, .nav-link {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/*--Title Panel--*/

.container-fluid-1 {
    background-color: rgb(192,192,192, 0.5);
    width: 100%;
    color: black;
    margin-bottom: 10px;
}

.container-fluid-2 {
    background-color: #F8f9FA);
    width: 100%;
}

/*-- Index.html --*/

.page-title {
    font-family: "Exo" sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-left: 20px;
    color: #f0f;
}

.elephant {
    margin-right: 0px;
    background: url("../images/elephant.jpg") no-repeat top;
    background-size: cover;
    width: 170px;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title {
    font-family: "Exo" sans-serif;
    font-size: 20px;
    margin-top: 8px;
}

.subtitle {
    font-family: "Exo" sans-serif;
    font-size: 18px;
}

/*-- Russia --*/

.bg-color-name-title .name {
    font-size: 30px;
    margin-left: 20px;
}
/*--Cards--*/

.container-fluid-2 {
    background-color: white;
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: black;
}

.col-md-2 {
    height: 320px;
}

.col-md-3 {
    height: 300px;
    width: 180px;    
}
/* -- icons --*/
.container {
    margin-top: 20px;
    margin-left: 20px;
}
.icon-title {
    font-family: 'Exo', sans-serif;
    padding: 10px;
}
.icon-text {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    padding: 10px;
}
/*-- Hover Functionality --*/
a {
    color: silver;
}
a:hover {
    text-decoration: none;
    color: #f0f;
}

.hvr-sweep-to-bottom:before {
    width: 225px;
    height: 300px;
}

.russialogo {
    margin-right: 0px;
    background: url("/assets/images/russia/russialogo.jpg") no-repeat top;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.lermentov {
    margin-right: 0px;
    background: url("/assets/images/russia/lermentov.jpg") no-repeat top;
    background-size: cover;
    min-height: 340px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.tolstoy {
    margin-right: 0px;
    background: url("/assets/images/russia/tolstoy.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.akhmatova {
    margin-right: 0px;
    background: url("/assets/images/russia/akhmatova.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.pushkin {
    margin-right: 0px;
    background: url("/assets/images/russia/pushkin.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.indialogo {
    margin-right: 0px;
    background: url("/assets/images/india/indialogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.singh {
    margin-right: 0px;
    background: url("/assets/images/india/singh.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.tharoor {
    margin-right: 0px;
    background: url("/assets/images/india/tharoor.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.naidu {
    margin-right: 0px;
    background: url("/assets/images/india/naidu.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.turkeylogo {
    margin-right: 0px;
    background: url("/assets/images/turkey/turkeylogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kemal {
    margin-right: 0px;
    background: url("/assets/images/turkey/kemal.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.karakasli {
    margin-right: 0px;
    background: url("/assets/images/turkey/karakasli.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hikmet {
    margin-right: 0px;
    background: url("/assets/images/turkey/hikmet.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.iranlogo {
    margin-right: 0px;
    background: url("/assets/images/iran/iranlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.attar {
    margin-right: 0px;
    background: url("/assets/images/iran/attar.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hedayat {
    margin-right: 0px;
    background: url("/assets/images/iran/hedayat.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hafez {
    margin-right: 0px;
    background: url("/assets/images/iran/hafez.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.chinalogo {
    margin-right: 0px;
    background: url("/assets/images/china/chinalogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.jian {
    margin-right: 0px;
    background: url("/assets/images/china/jian.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.chang {
    margin-right: 0px;
    background: url("/assets/images/china/chang.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.bai {
    margin-right: 0px;
    background: url("/assets/images/china/bai.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.israellogo {
    margin-right: 0px;
    background: url("/assets/images/israel/israellogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.oz {
    margin-right: 0px;
    background: url("/assets/images/israel/oz.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.keret {
    margin-right: 0px;
    background: url("/assets/images/israel/keret.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hakimi {
    margin-right: 0px;
    background: url("/assets/images/israel/hakimi.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.lebanonlogo {
    margin-right: 0px;
    background: url("/assets/images/lebanon/lebanonlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kashua {
    margin-right: 0px;
    background: url("/assets/images/lebanon/kashua.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.noir {
    margin-right: 0px;
    background: url("/assets/images/lebanon/noir.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.gibran {
    margin-right: 0px;
    background: url("/assets/images/lebanon/gibran.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.afghanistanlogo {
    margin-right: 0px;
    background: url("/assets/images/afghanistan/afghanistanlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hosseini {
    margin-right: 0px;
    background: url("/assets/images/afghanistan/hosseini.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.osman {
    margin-right: 0px;
    background: url("/assets/images/afghanistan/osman.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.rumi {
    margin-right: 0px;
    background: url("/assets/images/afghanistan/rumi.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.nigerialogo {
    margin-right: 0px;
    background: url("/assets/images/nigeria/nigerialogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.emecheta {
    margin-right: 0px;
    background: url("/assets/images/nigeria/emecheta.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.habila {
    margin-right: 0px;
    background: url("/assets/images/nigeria/habila.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.adams {
    margin-right: 0px;
    background: url("/assets/images/nigeria/adams.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.noir {
    margin-right: 0px;
    background: url("/assets/images/lebanon/noir.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kenyalogo {
    margin-right: 0px;
    background: url("/assets/images/lebanon/noir.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.thiongo {
    margin-right: 0px;
    background: url("/assets/images/kenya/thiongo.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.mabura {
    margin-right: 0px;
    background: url("/assets/images/kenya/mabura.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.teyie {
    margin-right: 0px;
    background: url("/assets/images/kenya/teyie.jpg") no-repeat top;
    background-size: cover;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hvr-sweep-to-bottom:hover {
    color: black;
}
/*!-- Russia page --*/

.title {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
}

.title-link {
 font-family: "Exo" sans-serif;
    font-size: 20px;
    font-weight: normal;   
}

.text-blurb {
    font-family: "Exo", sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.pushkin-image {
    width: 100%;
    padding: 10px;
}

.pushkin-image2 {
    width: 200px;
    float: left;
    padding: 10px;
}

.title-link a {
    color: black;
}

.title-link a:hover {
    color: #ff66ff;
}

.container-fluid-3 {
    background-color: rgb(192,192,192, 0.5);
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: black;
}


