@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

@media only screen and (max-width: 600px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

container-fluid-2 {
    padding: 0;
}
}

* {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
}
/*--Navbar--*/

.navbar-nav, .navbar-title, .nav-item, .nav-link {
    font-family: 'Exo', sans-serif;
    color: #d7ebf2;
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: 0.6rem;
}

.navbar-nav {
    padding-left: .6rem;
}


/*--Title Panel--*/

.container-fluid-2 {
    background-color: #d7ebf2;
    width: 100%;
    font-size: 2rem;
}

.page-title {
    font-family: "Exo" sans-serif;
    font-size: 3rem;
    font-weight: 300;
    padding-left: 2rem;
    color: black;
}

.country-title {
    font-family: "Exo" sans-serif;
    font-size: 3rem;
    font-weight: 300;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: black;
}

.page-subtitle {
    font-family: "Exo" sans-serif;
    font-size: 2rem;
    font-weight: 200;
    padding-left: 2rem;
    color:black;
}

/*---Site Introduction---*/

.container-fluid-1 {
    background-color: #B0C4DE;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.elephant {
    margin-right: 0rem;
    background: url("../images/india/elephant.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    width: 100%;
}

.bg-color {
    font-size: 3rem;
}

.first-row {
    margin-top: 2rem;
}

.title {
    font-family: "Exo" sans-serif;
    font-size: 2rem;
}

.subtitle {
    font-family: "Exo" sans-serif;
    font-size: 1.8rem;
    padding-top: 1rem;
    text-decoration: underline;
}


/*--Cards--*/

.container-fluid {
    background-color: white;
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: black;
}

.col-md-3 {
    height: 30rem;
    width: 1.8rem;  
}

.col-md-10 {
    font-size: 1.8rem;
    background: #B0C4DE;
}

.col-md-12 .adams {
    font-size: 1.6rem;
}

.icon-title {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    padding: 1rem;
    font-size: 2rem;
}

.icon-text {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    padding: 1rem;
    font-size: 1.6rem;
}

/*-- Hover Functionality --*/

a:hover {
    text-decoration: none;
    color: black;
}

.change-color:hover {
    text-decoration: none;
    color: black;
    background: #d7ebf2;
}
.nav-link .hvr-sweep-to-bottom {
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

/*-- Pages --*/

.mcqueen {
    margin-right: 0rem;
    background-image: url("../images/india/mcqueen.jpg");
    background-size: cover;
    padding-bottom: 2.5rem;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    width: 100%;
}

.russialogo {
    margin-right: 0rem;
    background: url("../images/russia/russialogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 34rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}
.lermentovface {
    margin-right: 0rem;
    background: url("../images/russia/lermentovface.jpg") no-repeat top;
    background-size: cover;
    min-height: 34rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.tolstoyface {
    margin-right: 0rem;
    background: url("../images/russia/tolstoyface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.akhmatovaface {
    margin-right: 0rem;
    background: url("../images/russia/akhmatovaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.pushkinface {
    margin-right: 0rem;
    background: url("../images/russia/pushkinface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.indialogo {
    margin-right: 0rem;
    background: url("../images/india/indialogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.desai {
    margin-right: 0rem;
    background: url("../images/india/desai.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.tharoorface {
    margin-right: 0rem;
    background: url("../images/india/tharoorface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.naidu {
    margin-right: 0rem;
    background: url("../images/india/naidu.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.rushdieface {
    margin-right: 0rem;
    background: url("../images/india/rushdieface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.turkeylogo {
    margin-right: 0rem;
    background: url("../images/turkey/turkeylogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.aliface {
    margin-right: 0rem;
    background: url("../images/turkey/aliface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.shafakface {
    margin-right: 0rem;
    background: url("../images/turkey/shafakface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hikmetface {
    margin-right: 0rem;
    background: url("../images/turkey/hikmetface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kemalface {
    margin-right: 0rem;
    background: url("../images/turkey/kemalface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.iranlogo {
    margin-right: 0rem;
    background: url("../images/iran/iranlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.attar {
    margin-right: 0rem;
    background: url("../images/iran/attar.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hafezface {
    margin-right: 0rem;
    background: url("../images/iran/hafezface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.farrokhzadface {
    margin-right: 0rem;
    background: url("../images/iran/farrokhzadface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.ferdowsi {
    margin-right: 0rem;
    background: url("../images/iran/ferdowsi.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.chinalogo {
    margin-right: 0rem;
    background: url("../images/china/chinalogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.jianface {
    margin-right: 0rem;
    background: url("../images/china/jianface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.songlingface {
    margin-right: 0rem;
    background: url("../images/china/songlingface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.baiface {
    margin-right: 0rem;
    background: url("../images/china/baiface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.changface {
    margin-right: 0rem;
    background: url("../images/china/changface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.israellogo {
    margin-right: 0rem;
    background: url("../images/israel/israellogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.keretface {
    margin-right: 0rem;
    background: url("../images/israel/keretface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.yizharface {
    margin-right: 0rem;
    background: url("../images/israel/yizharface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hakimiface {
    margin-right: 0rem;
    background: url("../images/israel/hakimiface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.ozface {
    margin-right: 0rem;
    background: url("../images/israel/ozface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.lebanonlogo {
    margin-right: 0rem;
    background: url("../images/lebanon/lebanonlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kashuaface {
    margin-right: 0rem;
    background: url("../images/lebanon/kashuaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.noir {
    margin-right: 0rem;
    background: url("../images/lebanon/noir.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.qabbani {
    margin-right: 0rem;
    background: url("../images/lebanon/qabbani.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.khouryface {
    margin-right: 0rem;
    background: url("../images/lebanon/khouryface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.afghanistanlogo {
    margin-right: 0rem;
    background: url("../images/afghanistan/afghanistanlogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hosseiniface {
    margin-right: 0rem;
    background: url("../images/afghanistan/hosseiniface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28erm;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.osman {
    margin-right: 0erm;
    background: url("../images/afghanistan/osman.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.rumi {
    margin-right: 0rem;
    background: url("../images/afghanistan/rumi.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.asneface {
    margin-right: 0rem;
    background: url("../images/afghanistan/asneface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.nigerialogo {
    margin-right: 0rem;
    background: url("../images/nigeria/nigerialogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.emechetaface {
    margin-right: 0rem;
    background: url("../images/nigeria/emechetaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.habilaface {
    margin-right: 0rem;
    background: url("../images/nigeria/habilaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.achebeface {
    margin-right: 0rem;
    background: url("../images/nigeria/achebeface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.soyinkaface {
    margin-right: 0rem;
    background: url("../images/nigeria/soyinkaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.noir {
    margin-right: 0rem;
    background: url("../images/lebanon/noir.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.kenyalogo {
    margin-right: 0rem;
    background: url("../images/kenya/kenyalogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.thiongoface {
    margin-right: 0rem;
    background: url("../images/kenya/thiongoface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.maburaface {
    margin-right: 0rem;
    background: url("../images/kenya/maburaface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.teyieface {
    margin-right: 0rem;
    background: url("../images/kenya/teyieface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.usalogo {
    margin-right: 0rem;
    background: url("../images/USA/usalogo.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.baldwinface {
    margin-right: 0rem;
    background: url("../images/USA/baldwinface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.jacksonface {
    margin-right: 0rem;
    background: url("../images/USA/jacksonface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.ginsbergface {
    margin-right: 0rem;
    background: url("../images/USA/ginsbergface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.fitzgeraldface {
    margin-right: 0rem;
    background: url("../images/USA/fitzgeraldface.jpg") no-repeat top;
    background-size: cover;
    min-height: 28rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
}

.hvr-sweep-to-bottom:hover {
    color: black;
    width: 100%;
    height: 100%;
}

.title {
    font-family: "Exo", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 1rem;
}

.title-link {
 font-family: "Exo" sans-serif;
    font-size: 2rem;
    font-weight: normal;   
}

.text-blurb {
    font-family: "Exo", sans-serif;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    color: white;
    background: #B0C4DE;
}

.pushkin-image {
    width: 100%;
    padding: 1rem;
}

.pushkin-image2 {
    width: 20rem;
    float: left;
    padding: 1rem;
}

.title-link a {
    color: black;
}

.title-link a:hover {
    color: black;
}

.container-fluid-3 {
    background-color: rgb(192,192,192, 0.5);
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: black;
}

/*--cardsagain---*/

a {
    color: silver;
}
a:hover {
    text-decoration: none;
    columns: black;
}

.hvr-sweep-to-bottom:before {
    width: 22.5rem;
    height: 100%;
}

.cardrussia .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.cardindia .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.cardturkey .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
.cardiran .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
.cardchina .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}
.cardisrael .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}
.cardlebanon .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.cardafghanistan .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.cardnigeria .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.cardkenya .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.cardUSA .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.cardbrazil .hvr-sweep-to-bottom:before {
    background: #d7ebf2;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-size: 1.6rem;
}

.lermentovcover {
    background: url("../images/russia/lermentovcover.jpg") no-repeat top;
    background-size: 300rem;
}
